footer{
  padding: 45px 0 20px 0;
  .btn-footer{
    background: $blue;
    color: white;
    border-radius: 0;
    padding: 15px 40px;
    font-size: 2rem;
  }
  .email{
    padding:  30px 15px;
    p{
      text-align:  right;
      font-size:  3rem;
      @media #{$M900}{
        font-size: 2rem;
        text-align: left;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 1px;
        height: 50px;
        position: absolute;
        background: $line-servicios;
        right: 0;
        @media #{$M900}{
          display: none;
        }
      }
      span{
        color: $blue;
      }
    }
  }
  .phone{
    padding:  30px 15px;
    p{
      text-align:  left;
      font-size:  3rem;
      a{
        color: #455B60;
      }
      i{
        color: $blue;
      }
      span{
        color: $blue;
      }
    }
  }
  .copy{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-top: solid 1px $line-servicios;
    padding: 20px;
  }
}