#formulario{
  position: absolute;
  top: 0px;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 35px 65px;
  background: $form-bg;
  @media #{$M900}{
    position: relative;//
    float: none;
    width: 100%;
    height: auto;
  }
  p{
    font-size: 1.3vw;
    line-height: 1.6vw;
    color: white;
    position: relative;
    margin-bottom: 20px;
    @media #{$M900}{
      font-size: 6.3vw;
      line-height: 6.6vw;
    }
    span{
      color: $form-orange;
    }
    &:before{
      content: '';
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 30px;
      background-image: url(../images/svg/arrow-formulario.svg);
      background-position: -40px -30px;
      background-size: cover;
      top: 5px;
      right: 102%;
    }
  }
  .form-group{
    p{
      color: white;
      font-size: 14px;
      line-height: normal;
      &:before{
        display: none;
      }
    }
    .form-control{
      background-color: rgba(255, 255, 255, 0);
      border: 0px solid #ccc;
      border-bottom: solid 1px #303C5E;
      border-radius: 0px;
      color: white;
    }
    .wpcf7-list-item-label{
      color: white;
    }
    .btn-form{
      display: block;
      width: 100%;
      background: transparent;
      border: solid 1px white;
      color: white;
      border-radius: 0;
      padding: 10px 15px;
    }
  }
}

