header{
  position: relative;
  min-height: 6vw;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
  .navbar{
    &.navbar-default{
      background-color: white;
      border-color: #e7e7e7;
      border-radius: 0;
      top: auto !important;
    }
    min-height: 6vw;
    .navbar-brand{
      height: 6vw;
      @media #{$M900}{
        height: 13.4vw;
        padding: 5px;
      }
      img{
        width: 12.8vw;
        @media #{$M900}{
          width: 32.8vw;//
        }
      }
    }
    .nav{
      li{
        position: relative;
        a{
          min-height: 6vw;
          padding: 2vw 25px 2vw 15px !important;
          line-height: 1.5rem;
          color: $titleColor !important;
          font-weight: 300;
        }
        &.dropdown{
          .dropdown-menu{
            li{
              a{
                min-height: 50px;
                padding: 10px 15px !important;
              }
            }
          }
        }
        &:nth-of-type(1){
          &:before{
            content: '';
            display: inline-block;
            width: 4px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 33%;
            background: $blue;
            border-radius: 50px;
          }
        }
        &:nth-of-type(2){
          &:before{
            content: '';
            display: inline-block;
            width: 4px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 33%;
            background: $orange;
            border-radius: 50px;
          }
        }
        &:nth-of-type(3){
          &:before{
            content: '';
            display: inline-block;
            width: 4px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 33%;
            background: $dark-blue;
            border-radius: 50px;
          }
        }
        &:nth-of-type(4){
          &:before{
            content: '';
            display: inline-block;
            width: 4px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 33%;
            background: $gray;
            border-radius: 50px;
          }
        }
      }
    }
    .translate{
      float: right;
      margin: 0 40px 0 10px;
      @media #{$M900}{
        float: none;
        margin: 0;
        width: 48%;
        height: auto;
        display: inline-block;
      }
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          display: inline-block;
          min-height: 6vw;
          padding: 2vw 15px !important;
        }
      }
    }
    .rrss{
      float: right;
      margin: 0 40px 0 10px;
      @media #{$M900}{
        float: none;
        margin: 0;
        width: 48%;
        height: auto;
        display: inline-block;
      }
      ul {
        margin:  0;
        padding:  0;
        list-style:  none;
        li {
          display:  inline-block;
          min-height: 6vw;
          padding: 2vw 10px !important;
          a {
            font-size: 2rem;
            color: $RRSS;
          }
        }
      }
    }
  }
}