#historias{
  .title{
    padding: 30px;
    padding-bottom: 10px;
    p{
      font-size: 4rem;
      span{
        color: $blue;
      }
    }
  }
  .video{
    height: 85vh;
    max-height: 85vh;
    position: relative;
    .embed-responsive-16by9{
      padding-bottom: 85vh;
    }
    .testimonio{
      position: absolute;
      width: 100%;
      background-color: #00254a !important;
      opacity: .8 !important;
      bottom: 0;
      padding: 20PX;
      p{
        span{
          color: $blue;
        }
        color: white;
      }
    }
  }
}