#por-que{
  background-color: $dark-blue;
  padding: 30px 0;
  .container{
    .row{
      .col-md-12{
        padding-top: 20px;
        h2{
          color: white;
          letter-spacing: 1px;
          margin-bottom: 30px;
        }
        .col-md-4{
          min-height: 330px;//
          p{
            color: white;
            margin-top: -45px;
            font-size: 1.8rem;
            span{
              color: $blue;
            }
          }
        }
      }
    }
  }
}