#ruta-de-atencion{
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media #{$M900}{
    background-position-x: 100%;//
  }
  .ruta-title{
    position: absolute;
    background: $orange;
    padding: 10px 20px 10px 115px;
    width: 35%;
    bottom: 140px;
    @media #{$M900}{
      position: relative;
      background: #FF9C06;
      padding: 10px 20px 10px 50px;
      width: 100%;
      bottom: 0;
    }
    p{
      color: white;
      font-size: 3rem;
      line-height: 3rem;
      position: relative;
      padding-left: 20px;
      span{
        color: $dark-blue;
      }
      &:before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: solid 20px transparent;
        border-left: solid 20px $dark-blue;
        position: absolute;
        left: -20px;
        top: 15px;
      }
    }
  }
  #content-popup{
    padding: 55px 60px;

    .col-md-4{
      padding:0;
      text-align: center;//
      margin-bottom: 20px;
      a{
        color: $text-pop;
        text-decoration: none;
        font-size: 2.5rem;
        line-height: 2.5rem;
        min-height: 210px;
        display: block;
        outline: 0;
        img{
          margin: 0 auto;
          padding: 10px;
        }
      }
      .modal-dialog{
        min-width: 65%;
        margin: 20vh auto;
        .modal-content{
          background: transparent;
          box-shadow: none;
          border: none;
          .modal-header {
            padding: 15px;
            border-bottom: 0px solid #e5e5e5;
            button.close {
              padding: 0;
              cursor: pointer;
              background: transparent;
              border: 0;
              -webkit-appearance: none;
              color: $blue;
              opacity: 1;
              text-shadow: none;
              font-size: 57px;
              line-height: 0;
              font-weight: 100;
            }
          }
          .modal-body{
            color: white;
            text-align: left;
          }
        }
      }
    }
  }
}