#nuestros-servicios{
  padding:0;
  .container-fluid{
    padding-left: 0;
    padding-right: 0;
    .col-md-2{
      padding-left: 0;
      margin-top: 20px;
      .nav-pills{
        li{
          border-radius: 0;
          a{
            color:$titleColor;
            padding-left: 40px;
            &:after{
              content: '';
              position: absolute;
              display: block;
              background: $line-servicios;
              width: 80%;
              height: 1px;
              left: 39px;
              bottom: 0;
            }
          }
          &.active{
            &:after{
              content: '';
              display: inline-block;
              position: absolute;
              top: 0;
              width: 0;
              height: 0;
              border: 20px solid transparent;
              border-left: 20px solid $servicios-t-arrow;
            }
            a{
              color: #fff;
              background-color: $servicios-blue;
              border-radius: 0;
              padding-left: 40px;
              &:after{
                display: none;
              }
            }
          }
          &:last-child{
            &.active{
              a{
                color:white;
              }
            }
            a{
              color: $blue;
              &:after{
                display: none;//
              }
            }
          }
        }
      }
    }
    .col-md-10{
      padding: 0;
      .tab-pane{
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media #{$M900} {
          background-position-x: 0;
        }
        .content{
          padding: 40px;
          margin: 0 !important;
          #fi-cite{
            .panel-group{
              .panel{
                border: none;
                background: transparent;
                border-bottom: solid 1px $line-servicios;
                border-radius: 0;
                box-shadow: none;
                .panel-heading{
                  background-color: transparent;
                  border-color: transparent;
                  a{
                    display: block;
                    position: relative;
                    i{
                      &.clock{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-image: url(../images/svg/002-alarm-clock.svg);
                        color: red;
                        background-position: 0;
                        background-size: cover;
                        margin-right: 10px;
                      }
                      &.case{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-image: url(../images/svg/001-medical.svg);//
                        color: red;
                        background-position: 0;
                        background-size: cover;
                        margin-right: 10px;
                      }
                      &.fa-caret-down{
                        float: right;
                        font-size: 3rem;
                        top: -5px;
                        position: absolute;
                        right: 0;
                        color: $blue;
                      }
                    }
                  }
                }
                .panel-collapse{
                  background: rgba(255, 255, 255, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }
  h2{
    text-align: center;
    margin-bottom: 35px;
    color: $dark-blue;
    span{
      color: $blue;
    }
  }
}