#slider{
  height: 87vh;
  position: relative;
  @media #{$M900}{
    height: auto;
  }
  .tp-parallax-wrap{
    left: 0 !important;
    .slider-title {
      width: 100%;
      p{
        font-size: 6rem !important;
        letter-spacing: 0px !important;
        line-height: 5rem !important;
        color: white !important;
        padding-left: 70px !important;
        position: relative !important;
        font-family: "Oxygen",sans-serif !important;
        @media #{$M900}{
          font-size: 4rem !important;
          line-height: 4rem !important;
        }
        span {
          font-size: 6rem !important;
          letter-spacing: 0px !important;
          line-height: 5rem !important;
          color: $orange1 !important;
          font-weight: bold !important;
          @media #{$M900}{
            font-size: 4rem !important;
            line-height: 3rem !important;
          }
          span {
            font-size: 6rem !important;
            letter-spacing: 0px !important;
            line-height: 5rem !important;
            color: $dark-orange !important;
            @media #{$M900}{
              font-size: 4rem !important;
              line-height: 3rem !important;
            }
          }
        }
        &:before{
          content: '';
          position: absolute;
          display: inline-block;
          width: 20px;
          height: 30px;
          background-image: url(../images/svg/arrow-formulario.svg);
          background-position: -40px -30px;
          background-size: cover;
          top: 10px;
          left: 40px;
        }
      }
    }
  }
}