/*COLORS*/
$blue: #059BDD;
$dark-blue: #00254A;
$form-bg: #020C38;
$servicios-blue: #0081BB;
$servicios-t-arrow: #0094CE;
$orange1: #FFC500;
$orange: #FF9C06;
$dark-orange: #FF9D00;
$form-orange: #D88407;
$line-servicios: #EAEBEC;
$gray: #878B8C;
$RRSS: #565656;
$text-pop: #647179;
$titleColor: #1F1F1D;

/*MEDIA QUERYS*/

$M900:  "screen and (max-width : 900px)" !default;
$M500:  "screen and (max-width : 500px)" !default;

/*TAMAÑO SLIDER*/
div#rev_slider_1_1_wrapper {
  height: 87vh !important;
}

div#rev_slider_1_1 {
  height: 87vh !important;
  max-height: 87vh !important;
}

.tp-fullwidth-forcer {
  height: 87vh !important;
}

/*SELECT PLACEHOLDER*/
.placeholder{color: grey;}
select option:first-child{color: grey; display: none;}
select option{color: #555;} // bootstrap default color

/*MODAL BACKGROUND*/
.modal-backdrop {
  background-color: #0E1E37 !important;
  opacity: .9 !important;
}

/*ARROWS SLIDER*/

.owl-nav {
  position:  absolute;
  top: 33.33333%;
  width:  100%;
}

.owl-nav .owl-prev {
  float:  left;
}

.owl-nav .owl-prev span {
  font-size:  60px;
  padding-left: 20px;
  color:  white;
}
.owl-nav .owl-next {
  float:  right;
  font-size:  10px;
}

.owl-nav .owl-next span {
  font-size:  60px;
  padding-right:  20px;//
  color:  white;
}

/*ARROW-TITLE*/
p.arrow-blue:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 20px transparent;
  border-left: solid 20px $blue;
  position: absolute;
  top: 15px;
  left: -25px;//
}